h1, h2{
    color: tomato;
}
li{
    color: brown;
}
b, span, i{
    background-color: chartreuse;
}
a{
    text-decoration: none;
    background-color: yellow;
}
p{
    color: chocolate;
}
ol{
    line-height: 40px;
}
ul{
    word-spacing: 8px;
    letter-spacing: 4px;
}
